{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.username }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3">
            <div class="d-flex flex-column mb-3">
                <div class="p-2"><a href="{{ path('app_home') }}">My Profile</a></div>
                <div class="p-2"><a href="{{ path('app_home') }}">My Tricks</a></div>
            </div>
        </div>
        <div class="col">
            {% for flash_successful in app.flashes('success') %}
                <div class="alert alert-success" role="alert">{{ flash_successful }}</div>
            {% endfor %}
            {{ form(form) }}
            <h1>{{ app.user.username }} Profile</h1>
            <p>Full name : <span>{{ app.user.fullName }}</span></p>
            <p>Profile's picture : <span>{{ app.user.linkUserPicture }}</span></p>
            <p>Email : <span>{{ app.user.email }}</span></p>
        </div>
    </div>
{% endblock %}
