{% for trick in tricks %}
    <div class="col mb-5">
        <div class="card h-100 shadow p-2 bg-white rounded">
            <!-- New badge-->
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <a class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 2.5rem"
                   href="{{ path('app_trick_edit', { 'slug': trick.slug }) }}"><i class="bi bi-pencil"></i></a>
                {% if trick.publicationStatusTrick == 'Published' %}
                    <a class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem"
                       href="{{ path('app_trick_status', { 'slug': trick.slug,'publicationStatus': 'Unpublished' }) }}"
                       onclick="return confirm('are you sure you want to unpublish this trick ?')"><i
                                class="bi bi-trash"></i></a>
                {% else %}
                    <a class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem"
                       href="{{ path('app_trick_status', { 'slug': trick.slug,'publicationStatus': 'Published' }) }}"><i
                                class="bi bi-globe"></i></a>
                {% endif %}
            {% endif %}

            <!-- Trick image-->
            <a href="{{ path('app_trick', { 'slug': trick.slug }) }}">
                {% if trick.pictures[0].pictureLink %}
                    <img class="card-img-top" style="height: 190px; object-fit: cover;"
                         src="{{ asset('uploads/images/'~trick.pictures[0].pictureLink) }}"
                         alt="{{ trick.pictures[0].pictureName }}"/>
                {% else %}
                    <img class="card-img-top" src="{{ asset('assets/heroBanner.jpg') }}" alt="default picture"/>
                {% endif %}
            </a>
            <!-- Trick details-->
            <div class="card-body p-0 align-self-center">
                <a class="btn btn-light py-2" style="width:250px; " href="{{ path('app_trick', { 'slug': trick.slug }) }}"><h5
                            class="fw-bolder">{{ trick.name }}</h5></a>
            </div>
        </div>

    </div>
{% endfor %}