<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{ path('app_home') }}"><i class="bi bi-snow2"></i>SnowTricks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active text-uppercase" aria-current="page"
                                        href="{{ path('app_home') }}">Home</a></li>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-uppercase" id="navbarDropdown" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Tricks</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_trick_index') }}">dashboard</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_trick_new') }}">New
                                    Trick</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_category_add') }}">New Category</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-uppercase" id="navbarDropdown" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item text-uppercase" href="{{ path('app_profile') }}">My Profile</a></li>
                            <li><a class="dropdown-item text-uppercase" href="{{ path('app_forgot_password_request') }}">Reset my
                                    Password</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link text-uppercase" href="{{ path('app_register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="d-flex">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="btn btn-outline-dark text-uppercase" href="{{ path('app_logout') }}">
                    Logout
                    <i class="bi bi-box-arrow-in-right me-1"></i>
                </a>
            {% else %}
                <a class="btn btn-outline-dark text-uppercase" href="{{ path('app_login') }}">
                    Login
                    <i class="bi bi-box-arrow-in-right me-1"></i>
                </a>
            {% endif %}

        </div>
    </div>
</nav>