{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}
    <h1>Trick index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>PublicationStatusTrick</th>
                <th>Created_at</th>
                <th>Modified_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trick in tricks %}
            <tr>
                <td>{{ trick.id }}</td>
                <td>{{ trick.name }}</td>
                <td>{{ trick.description }}</td>
                <td>{{ trick.publicationStatusTrick }}</td>
                <td>{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ trick.modifiedAt ? trick.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_trick', { 'slug': trick.slug }) }}">show</a>
                    <a href="{{ path('app_trick_edit', { 'slug': trick.slug }) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_trick_new') }}">Create new</a>
{% endblock %}
