{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    <h1>{{ trick.name }}
        <a class="btn btn-primary mt-auto mx-1" href="{{ path('app_trick_edit', { 'slug': trick.slug }) }}">Edit</a>
        {% if trick.publicationStatusTrick == 'Published' %}
            <a class="btn btn-primary mt-auto mx-1" href="{{ path('app_trick_status', { 'slug': trick.slug,'publicationStatus': 'Unpublished' }) }}">Unpublish</a>
        {% else %}
            <a class="btn btn-primary mt-auto mx-1" href="{{ path('app_trick_status', { 'slug': trick.slug,'publicationStatus': 'Published' }) }}">publish</a>
        {% endif %}
    </h1>
    <div><p>Created at {{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</p></div>
    <div><p>Modified at {{ trick.modifiedAt ? trick.modifiedAt|date('Y-m-d H:i:s') : '' }}</p></div>
    <div class="d-flex flex-row bd-highlight mb-3">
        {% for category in trick.category %}
        <div class="px-2"><a href="#" class="px-2 btn btn-info">{{ category.name }}</a></div>
        {% endfor %}
    </div>
    <p>{{ trick.description }}</p>

<h2>Pictures</h2>
    <section class="py-1">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for picture in trick.pictures %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Pictures-->
                            <img class="card-img-top" src="{{ asset('uploads/images/'~picture.pictureLink) }}" alt="..."/>
                            <!-- Pictures name-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">{{ picture.pictureName }}</div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

<table class="table">
    <thead>
    <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Link</th>
    </tr>
    </thead>
    <tbody>
    {% for picture in trick.pictures %}
        <tr>
            <td class="text-center">{{ picture.pictureName }}</td>
            <td class="text-center">{{ picture.pictureLink }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h2>Videos</h2>
<table class="table">
    <thead>
    <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Link</th>
    </tr>
    </thead>
    <tbody>
    {% for video in trick.video %}
        <tr>
            <td class="text-center">{{ video.videoName }}</td>
            <td class="text-center">{{ video.videoLink }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div><a class="btn btn-outline-dark mt-auto" href="{{ path('app_trick_index') }}">back to list</a>
</div>
<br>
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
    <div><a class="btn btn-outline-primary mt-auto" href="{{ path('app_trick_edit', {'slug': trick.slug}) }}">edit</a></div>
    <br>
    <div>{{ include('trick/_delete_form.html.twig') }}</div>
{% endif %}
<br>
<h5>Comments :</h5>
    {% if is_granted('ROLE_USER') %}
        {{ form_start(form) }}
        {{ form_row(form.postContent) }}
        <button class="btn btn btn-primary" type="submit">
            Publish my comment
        </button>
        {{ form_end(form) }}
    {% endif %}
<br>
<ul id="post-container" class="list-group">
{{ include('trick/_postList_partial.html.twig') }}
</ul>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <button id="load-more-posts" data-slug="{{ trick.slug }}" data-offsetpost="{{ offsetpost }}" class="btn btn-primary">
            Load more
        </button>
    </div>
    {% endblock %}
