{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    <!-- Header-->
    {% set bgImage = "" %}
    {% for picture in trick.pictures %}
        {% if trick.pictures[0].pictureLink %}
            {% set bgImage = asset('uploads/images/'~trick.pictures[0].pictureLink) %}
        {% else %}
            {% set bgImage = asset('assets/heroBanner.jpg') %}
        {% endif %}
    {% endfor %}

    <div class="container">
        <header id="header-image" class="container bg-dark"
                style="background-image: url({{ bgImage }}); background-position: center; background-size: cover;">

            <div class="row h-100">
                <div class="col-sm-12 col-lg-3 order-3 order-lg-1 "></div>
                <div class="col-sm-12 col-lg-6 align-self-center text-center text-white order-2">
                    <h1 class="display-4 fw-bolder"
                        style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{ trick.name }}</h1>
                </div>
                <div id="btn-edition"
                     class="col-sm-12 col-lg-3 my-2 align-self-start text-end order-1 order-lg-3">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                        <a class="btn btn-dark text-white m-1" style="font-size: 1.5rem;"
                           href="{{ path('app_trick_edit', { 'slug': trick.slug }) }}"><i class="bi bi-pencil bi--md"
                            ></i></a>
                        {% if trick.publicationStatusTrick == 'Published' %}
                            <a class="btn btn-dark bg-dark text-white m-1" style="font-size: 1.5rem;"
                               href="{{ path('app_trick_status', { 'slug': trick.slug,'publicationStatus': 'Unpublished', 'originOfRequest': 'app_trick_edit' }) }}"
                               onclick="return confirm('are you sure you want to unpublish this trick ?')"><i
                                        class="bi bi-trash bi--md"></i></a>
                        {% else %}
                            <a class="btn btn-dark bg-dark text-white m-1" style="font-size: 1.5rem;"
                               href="{{ path('app_trick_status', { 'slug': trick.slug,'publicationStatus': 'Published', 'originOfRequest': 'app_trick_edit' }) }}"><i
                                        class="bi bi-globe bi--md"></i></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

        </header>
        <!-- media -->
        <section id="box-media" class="flex-wrap justify-content-around m-1" style="display: none;">
            {% for picture in trick.pictures %}

                <div class="card m-1" style="width: 250px;">
                    <!-- Pictures-->
                    <img class="card-img-top" style="height: 161px; object-fit: cover;" src="{{ asset('uploads/images/'~picture.pictureLink) }}"
                         alt="..."/>
                    <!-- Pictures name-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">{{ picture.pictureName }}</div>
                    </div>
                </div>

            {% endfor %}

            {% for video in trick.video %}

                <div class="card m-1" style="width: 250px;">
                    <iframe width="250"
                            height="161"
                            src="{{ video.videoLink }}"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <!-- Pictures name-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">{{ video.videoName }}</div>
                    </div>
                </div>

            {% endfor %}

        </section>
        <div class="row text-center m-3 m-lg-0">
            <div>
                <button id="btn-media" class="btn btn-danger">Show medias</button>
            </div>
        </div>
        <div class="row"><p>Created: {{ trick.createdAt ? trick.createdAt|date('Y-m-d') : '' }}; Last
                update: {{ trick.modifiedAt ? trick.modifiedAt|date('Y-m-d') : '' }}</p></div>
        <div class="row">
            <h5>Description:</h5>
        </div>
        <div class="row"><p>{{ trick.description }}</p></div>
        <div class="row d-flex flex-row bd-highlight mb-3">
            {% for category in trick.category %}
                <div class="px-2"><a href="#" class="px-2 btn btn-info">{{ category.name }}</a></div>
            {% endfor %}
        </div>

        <div class="row text-center">
            <div><a class="btn btn-outline-dark mt-auto" href="{{ path('app_trick_index') }}">back to list</a>
            </div>
        </div>
        <h5>Comments :</h5>
        {% if is_granted('ROLE_USER') %}
            {{ form_start(form) }}
            {{ form_row(form.postContent) }}
            <button class="btn btn btn-primary" type="submit">
                Leave a comment
            </button>
            {{ form_end(form) }}
        {% endif %}
        <br>
        <ul id="post-container" class="list-group">
            {{ include('trick/_postList_partial.html.twig') }}
        </ul>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <button id="load-more-posts" data-slug="{{ trick.slug }}" data-offsetpost="{{ offsetpost }}"
                    class="btn btn-primary my-2">
                Load more
            </button>
        </div>
    </div>
{% endblock %}
